@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr; /* Define duas colunas com proporção 1:6 */
}

section {
    background-color: black;
    height: 100%; /* Define a altura completa da viewport */
    border-radius: 0px 10px 10px 0px;
    color: aliceblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
    overflow-y: auto;
}

section a{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    font-size: clamp(14px, 1vw + 1em, 10px);
    transition: all;
}

section a:hover,
section a:hover img {
    text-decoration: underline;
    color: grey;
}

section span{
    font-size: 25px;
    padding: 3vh;
}

section a *{
    margin: 15px;
}

section .itens{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

section .etc{
    height: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 15px;
}

section svg{
    height: 35px;
    width: 30px;
}

section .itens .menuDropdown{
    margin-left: 20px;
    
}

section .itens .menuDropdown a{
    font-size: 15px;
}

section .itens .menuDropdown a img{
    height: 25px;
}

main {
    height: 100vh; /* Define a altura completa da viewport */
    display: grid;
    grid-template-rows: repeat(7, 1fr); /* Layout padrão com 7 linhas */
    grid-template-columns: repeat(5, 1fr); /* Layout padrão com 5 colunas */
    gap: 15px; /* Espaço entre os itens */
    overflow-y: auto;
    overflow-x:hidden;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.dadosAluno {
    margin: 15px;
    grid-area: 1 / 1 / span 3 / span 3;
    box-shadow: 0px 0px 9px rgb(83, 83, 83);
    border-radius: 20px;

    display: flex;
    flex-flow: column nowrap;
}

.dadosAluno .container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.dadosAluno .header{
    height: 80px;
    padding: 30px;
    display: flex;
    align-items: center;
    font-size: 1.16em;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.dadosAluno .imgAluno {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dadosAluno .imgAluno div {
    border-radius: 100px;
    width: 180px;
    height: 180px;
    border: 1px solid black; /* Borda preta */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dadosAluno .imgAluno div picture {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fundo transparente */
}

.dadosAluno .info{
    grid-column: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.notificacoesAluno {
    margin: 15px;
    grid-area: 4 / 1 / span 4 / span 3;
    box-shadow: 0px 0px 9px rgb(83, 83, 83);
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.notificacoesAluno .header{
    height: 80px;
    padding: 30px;
    display: flex;
    align-items: center;
    font-size: 1.16em;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.notificacoesAluno .notificacoes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: auto;
}

.notificacoesAluno .notificacoes .notificacao{
    height: auto;
    width: 90%;
    padding: 10px;
    margin: 20px;

    box-shadow: 2px 2px 3px rgb(83, 83, 83);
    border: 2px solid black;
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: start;
    
    font-size: 1.2em;
    word-break: break-word;
    word-wrap: break-word;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.calendarioAluno {
    margin: 15px;
    grid-area: 1 / 4 / span 2 / span 2;
    box-shadow: 0px 0px 9px rgb(83, 83, 83);
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.calendarioAluno .header{
    height: 80px;
    padding: 30px;
    display: flex;
    align-items: center;
    font-size: 1.16em;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.calendarioAluno .dias{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.calendarioAluno .dias span{
    box-shadow: 2px 2px 3px rgb(83, 83, 83);
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.tarefasAluno {
    margin: 15px;
    grid-area: 3 / 4 / span 5 / span 3;
    box-shadow: 0px 0px 9px rgb(83, 83, 83);
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.tarefasAluno .header{
    height: 80px;
    padding: 30px;
    display: flex;
    align-items: center;
    font-size: 1.16em;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.tarefasAluno .tarefas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: auto;
}

.tarefasAluno .tarefas div{
    padding: 20px;
    width: 80%;
    margin: 10px;
    display: flex;
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* Media query para telas menores */
@media (max-width: 768px) {
    body{
        overflow-y: auto;
    }
    main {
        grid-template-columns: 100%; /* Coloca todas as divs em uma única coluna */
        grid-template-rows: auto; /* Ajusta a altura automaticamente */
    }

    .dadosAluno,
    .calendarioAluno,
    .notificacoesAluno,
    .tarefasAluno {
        grid-area: auto; /* Permite que cada item ocupe a próxima linha disponível */
    }
    section .etc{
        padding: 5px;
    }
    section p{
        display: none;
    }
    section span{
        display: none;
    }
    section{
        align-items: center;
        padding: 0;
    }
}
